%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label(:email, t('auth_forms.email')) 
    = f.email_field :email
  %div
    = f.label(:password, t('auth_forms.password'))
    %i 
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label(:password_confirmation, t('auth_forms.password_confirmation'))
    = f.password_field :password_confirmation
  - if f.object.encrypted_password.present?
    %div
      = f.label(:current_password, t('auth_forms.current_password'))
      %i 
        (#{t('common.need_password')})
      %br/
      = f.password_field :current_password
  %div= f.submit t('common.update')
%h3 
  = t('common.cancel_my_account')
%p
  = t('common.unhappy')  
  = link_to t('common.cancel_my_account'), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete
= link_to t('common.back'), :back
