= t('mail.greeting')
, #{@alert.user.email}
%p
  = t('mail.body')
  #{@alert.event}
  %br/
  = @alert.event_description
  %p
    = t('mail.next_exec')
    \#{@alert.next_exec}
  %p
    = t('mail.goodbye')
