<%= @greeting %>, <%= @alert.user.email %>
<p> want to rememeber about your <%= @alert.event %><br>
<%= @alert.event_description %>
<p> Next time when you'll receive message is 
<%= @alert.next_exec%>
</p>
<p>
Best Regards,<br>
Sincerelly yours, RemindMe Team
</p>
