<table class='table table-striped table-condensed'>
  <thead>
    <tr>
      <td><%= t('common.event') %></td>
      <td><%= t('common.period') %></td>
      <td><%= t('common.start_time') %></td>
      <td><%= t('common.next_exec') %></td>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |alert| %>
      <% if !alert.active %>
          <tr class='muted'>
          <% else %>
          <tr>
        <% end %>

        <td><%= link_to alert.event, edit_alert_path(alert) %></td>
        <td><%= alert.period %></td>
        <td><%= alert.start_time %></td>
        <td><%= alert.next_exec %></td>
        <td><%= link_to "Test mailer", test_mail_alert_path(alert) %> </td>
        <td><%= link_to "Del", alert, confirm: 'Точно?', method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add', new_alert_path, :class => 'btn btn-primary' %>
<%= link_to 'Check Dates', alerts_check_dates_path, :class => 'btn btn-primary' %>
<br>
<br>
