<table class='table table-striped table-condensed'>
  <thead>
    <tr>
      <td>Event_ID</td>
      <td>Event</td>
      <td>Period</td>
      <td>User</td>
      <td>Start_time</td>
      <td>Next_exec</td>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |alert| %>
      <% if !alert.active %>
          <tr class='muted'>
        <% elsif %>
          <tr>
        <% end %>

        <td><%= alert.id %></td>
        <td><%= alert.event %></td>
        <td><%= alert.period %></td>
        <td><%= alert.user.email %></td>
        <td><%= alert.start_time %></td>
        <td><%= alert.next_exec %></td>
        <td><%= link_to "Test mailer", test_mail_alert_path(alert) %></td>
        <td><%= link_to 'Update', edit_alert_path(alert) %></td>
        <td><%= link_to "Del", alert, confirm: 'Точно?', method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add', new_alert_path, :class => 'btn btn-primary' %>
<br>
<br>
