.col-md-3.col-md-offset-4
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %h2= t('common.sign_in')
    .form-group
      .col-lg-12
        = f.input_field :email, :placeholder => t('auth_forms.email')
    .form-group
      .col-lg-12
        = f.input_field :password, :placeholder => t('auth_forms.password')
    .form-group
      .col-lg-12
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean, label: false, inline_label: true
    = f.button :submit, t('common.sign_in'), :class => "btn btn-primary btn-block"
  = render "devise/shared/links"
