- if user_signed_in?
  %li
    = link_to(t('common.calendar'),alerts_path)
  %li.divider-vertical
  %li
    = link_to(current_user.username, edit_user_registration_path)
  %li.divider-vertical
  %li
    = link_to(t('common.logout'), destroy_user_session_path, :method => :delete)
- else
  %li
    = link_to(t('common.sign_in'), new_user_session_path)
  %li.divider-vertical
  %li
    = link_to(t('common.register'), new_user_registration_path)
