<!DOCTYPE html>
<html>
  <head>
    <title>Remindme</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href=<%= welcome_index_path %>>
            RemindMe
          </a>
          <ul class="nav">
            <%= render 'layouts/nav_menu'%>
          </ul>
        <ul class="nav pull-right">
          <%= render 'devise/menu/registration_items' %>
          <%= render 'devise/menu/login_items'%>
        </ul>
        </div>
      </div>

      <div class="row">
        <div class="span9">
          <%= yield %>
        </div>
        <div class="span3">
          <%= yield :side %>
        </div>
      </div>
    </div>

  </body>
</html>
